@font-face {
  font-family: "HyliaSerifBeta";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("HyliaSerifBeta"), #{"url('HyliaSerifBeta-Regular.otf')"};
}

body {
  --font-family: "HyliaSerifBeta";
}